.sign-up-page {
    background-image: url("/beach1.jpg");
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-form {
    background-color: rgb(255, 255, 255);
    width: 35rem;
    height: fit-content;
    padding: 6rem;
    border-radius: 5%;
}

#form {
    margin: 3rem 0;
}